PUSH IN 1

CALL FACT

POP OUT 1

JUMP UN END

; Factorial
LABEL FACT
	POP LOCAL 0

	PUSH LOCAL 0
	JUMP EQ FACT_END

	PUSH LOCAL 0

	PUSH CONSTANT 1
	PUSH LOCAL 0
	SUB

	CALL FACT

	JUMP UN FACT_MUL

LABEL FACT_END
	PUSH CONSTANT 1
RETURN

LABEL FACT_MUL
	MUL
RETURN
; End factorial

; End
LABEL END
