PUSH IN 3

CALL SQEQSOLVE

POP OUT 3

JUMP UN END

; Square equation solver
LABEL SQEQSOLVE

	POP LOCAL 0 ; c
	POP LOCAL 1 ; b
	POP LOCAL 2 ; a

	PUSH LOCAL 2
	JUMP EQ LINEAR

	PUSH LOCAL 2
	PUSH LOCAL 0

	PUSH CONSTANT 4
	
	MUL
	MUL
	; Now 4 * a * c on stack

	PUSH LOCAL 1
	PUSH LOCAL 1

	MUL
	; Now b * b on stack

	SUB

	POP LOCAL 3 ; D

	PUSH LOCAL 2
	PUSH CONSTANT 2
	MUL

	POP LOCAL 2 ; 2 * a

	PUSH LOCAL 1
	PUSH CONSTANT -1
	MUL

	POP LOCAL 1 ; -b

	; if D < 0
	PUSH LOCAL 3
	JUMP LS NO_ROOT
	
	; if D = 0
	PUSH LOCAL 3
	JUMP EQ ONE_ROOT

	; else
	PUSH LOCAL 3
	SQRT

	POP LOCAL 3 ; sqrt(D)

	PUSH LOCAL 2
	PUSH LOCAL 3
	PUSH LOCAL 1
	
	SUB
	DIV

	PUSH LOCAL 2
	PUSH LOCAL 3
	PUSH LOCAL 1

	ADD
	DIV

	PUSH CONSTANT 2

RETURN

LABEL LINEAR
	PUSH LOCAL 1
	JUMP EQ EQUATION
	
	PUSH CONSTANT 0

	PUSH LOCAL 1

	PUSH LOCAL 0
	PUSH CONSTANT -1
	MUL
	DIV

	PUSH CONSTANT 1
RETURN

LABEL EQUATION
	PUSH LOCAL 0
	JUMP NEQ NO_ROOT

	PUSH CONSTANT 0
	PUSH CONSTANT 0
	PUSH CONSTANT -1
RETURN

LABEL NO_ROOT
	PUSH CONSTANT 0
	PUSH CONSTANT 0
	PUSH CONSTANT 0

RETURN

LABEL ONE_ROOT
	PUSH CONSTANT 0

	PUSH LOCAL 2
	PUSH LOCAL 1
	DIV

	PUSH CONSTANT 1

RETURN
; End of square equation solver

; End
LABEL END


